.body {
	overflow-x: hidden;
	position: relative;
}
.mask_text {
	mask-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 1) 90%,
		rgba(255, 255, 255, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 10%,
		rgba(255, 255, 255, 1) 90%,
		rgba(255, 255, 255, 0) 100%
	);
}

.animated_text {
	font-size: 19rem;
	font-weight: 800;
	padding-left: 5rem;
	white-space: nowrap;
	color: var(--white);
	text-shadow: 20px 20px 60px #e2e2e2, -20px -20px 60px var(--white);
	animation: loop 90s linear infinite;
	-webkit-animation: loop 90s linear infinite;
	-moz-animation: loop 90s linear infinite;
	-o-animation: loop 90s linear infinite;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container {
	row-gap: 9rem;
}

.divImg {
	position: absolute;
	top: 6rem;
	right: 15rem;
}
.me {
	width: 46rem;
	object-fit: cover;
}

/* laptops and desktop */
@media (min-width: 64em) {
	.container {
		padding: 0 15rem;
	}
}

@media (max-width: 1600px) {
	.divImg {
		right: 10rem;
	}
	.me {
		width: 45rem;
	}
}
@media (max-width: 1300px) {
	.divImg {
		top: 7rem;
		right: 10rem;
	}
	.me {
		width: 35rem;
	}
}

/* tablets */
@media (max-width: 70em) {
	.animated_text {
		font-size: 23rem;
		text-shadow: 20px 20px 60px #e2e2e2, -20px -20px 60px var(--white);
	}

	.divImg {
		top: 15rem;
		right: 3rem;
	}

	.me {
		width: 30rem;
	}

	.container {
		padding: 0 5rem;
	}
}

/* phones */
@media (max-width: 40rem) {
	.divImg {
		top: 7rem;
		right: -5rem;
	}
	.me {
		width: 25rem;
	}

	.animated_text {
		margin-top: 3rem;
		font-size: 17rem;
		line-height: 16rem;
		text-shadow: 10px 10px 20px #e2e2e2, -10px -10px 20px var(--white);
		white-space: nowrap;
	}

	.container {
		padding: 0 2rem;
		row-gap: 3rem;
	}
}

/* Galaxy Fold */
@media (max-width: 330px) {
	.divImg {
		top: 5rem;
		right: -5rem;
	}
	.me {
		width: 20rem;
	}
	.container {
		padding: 0 0.7rem;
	}
}

/* animations */
@keyframes loop {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

/* lightmode */

.light .animated_text {
	color: var(--white);
}

/* darkmode */

.dark .animated_text {
	color: #1d1d1d;
	text-shadow: none;
}
