.technologies {
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 15%, #000 85%, rgba(0, 0, 0, 0) 100%);
}

.tech_title {
	text-align: center;
	margin-bottom: 2rem;
}

.list_tech {
	column-gap: 4rem;
	animation: loop 15s linear infinite;
	-webkit-animation: loop 15s linear infinite;
	-moz-animation: loop 15s linear infinite;
	-o-animation: loop 15s linear infinite;
}
.list_tech li {
	list-style: none;
	display: flex;
	align-items: center;
}
.list_tech li:last-child {
	margin-right: 4rem;
}

.list_tech li img {
	height: 2.5rem;
}

.list_tech li img svg {
	fill: #000;
}

@media (max-width: 1000px) {
	.list_tech {
		column-gap: 2rem;
	}

	.list_tech li img {
		height: 2rem;
	}
}

@keyframes loop {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}
