:root {
	--blue: #0075ff;
	--yellow: #ffca10;
	--light-gray: #e4e4e4;
	--dark-gray: #303030;
	--light-gray-text: #939393;
	--dark-gray-text: #505050;
	--red: #ff4438;
	--green: #25d366;
	--white: #fff;
	--darkmode-background: #111111;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Jost, sans-serif;
	color: #000;
	outline: none;
	border: none;
}
*:focus {
	outline: none;
	border: none;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

body {
	padding: 0;
	min-width: 280px;
	max-width: 120rem;
	margin: 0 auto;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.column-gap-1rem {
	column-gap: 1rem;
}
.column-gap-3rem {
	column-gap: 3rem;
}
.column-gap-10rem {
	column-gap: 10rem;
}

.row-gap-1rem {
	row-gap: 1rem;
}
.row-gap-2rem {
	row-gap: 2rem;
}
.row-gap-3rem {
	row-gap: 3rem;
}
