.footer {
	padding-bottom: 2rem;
}

.infos {
	flex-wrap: wrap;
}

.line {
	width: 100%;
	height: 0.1rem;
	background-color: var(--light-gray);
	border-radius: 5rem;
	mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 30%, #000 85%, rgba(0, 0, 0, 0) 100%);
	-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, #000 30%, #000 85%, rgba(0, 0, 0, 0) 100%);
}

.contact {
	max-width: 35rem;
}

.social_icons li {
	list-style: none;
}

.footer_logo {
	width: 3rem;
}

.light .text,
.light .heart {
	color: var(--light-gray-text);
}

@media (max-width: 40em) {
	.footer {
		padding-bottom: 1rem;
		row-gap: 0 !important;
	}

	.contact {
		margin-top: 3rem;
	}

	.social {
		margin: 3rem 0 1rem;
		width: 100%;
	}

	.social_icons {
		justify-content: center;
	}

	.text {
		margin: 0 auto;
		text-align: center;
		font-size: 0.8rem;
	}

	.footer_logo,
	.social > .title {
		display: none;
	}
}
