.body {
	row-gap: 2rem;
}

.subtitle {
	color: var(--light-gray-text) !important;
}

.description {
	color: var(--dark-gray-text) !important;
	max-width: 45rem;
	font-size: 1.1rem;
}

/* Galaxy Fold */
@media (max-width: 390px) {
	.description {
		font-size: 0.9rem;
	}
}
