.fade_in_section {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
	will-change: opacity, transform, visibility;
}

.up {
	transform: translateY(5rem);
}

.right {
	transform: translateX(5rem);
}

.left {
	transform: translateX(-5rem);
}

.fade_in_section.is-visible {
	opacity: 1;
	transform: none;
	visibility: visible;
}
