.header {
	position: fixed;
	padding: 1rem 15rem;
	z-index: 101;
	transition: all 0.2s ease;
	width: 100%;
}

.header.up {
	top: 0;
}
.header.down {
	top: -6rem;
}

.gap_login {
	column-gap: 1rem;
}

.logo_icon {
	width: 3rem;
}

.name {
	font-size: 1.58em;
	font-weight: 700;
}
.cargo {
	font-size: 0.8rem;
	font-weight: 500;
}

.menu {
	column-gap: 3rem;
	position: relative;
}

.items li {
	list-style: none;
	cursor: pointer;
}

.toggle_checkbox {
	display: none;
}

.switch {
	position: relative;
	background-color: #777;
	width: 3rem;
	height: 1.5rem;
	border-radius: 40px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.slider {
	position: absolute;
	top: 0;
	left: 1px;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
}
.slider::before {
	content: '🌙';
	font-size: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
}

.toggle_checkbox:checked ~ .switch {
	background-color: var(--yellow);
}

.toggle_checkbox:checked ~ .switch .slider {
	transform: translateX(1.6rem);
}
.toggle_checkbox:checked ~ .switch .slider::before {
	content: '☼';
	font-size: 1rem;
	color: var(--white);
	left: 2px;
}

.menu_btn {
	background: none;
	cursor: pointer;
}

.menu_list {
	position: absolute;
	top: 2rem;
	right: 0;
	width: 10rem;
	padding: 1rem;
	border-radius: 1rem;
	z-index: 1;
	row-gap: 0.5rem;
}

.menu_list li {
	list-style: none;
}

/* tablets */
@media (max-width: 64em) {
	.header {
		padding: 1rem 5rem;
	}

	.div_checkbox {
		justify-content: flex-end;
	}
}

/* phones */
@media (max-width: 40em) {
	.header {
		width: 100%;
		padding: 1rem 2rem;
	}
	.logo_icon {
		width: 2rem;
	}
	.name {
		display: none;
	}
	.cargo {
		display: none;
	}

	.menu_list {
		box-shadow: 0.5rem 0.5rem 2rem #0c0c0c07;
	}
}

/* darkmode */
.header.dark {
	background-color: #1b1b1b;
}
.header.dark .menu_list {
	background-color: #1b1b1b;
	box-shadow: none;
}
.header.dark .menu_list li {
	color: var(--white);
}

/* lightmode */
.header.light {
	background-color: var(--white);
}
.header.light .menu_list {
	background-color: var(--white);
	box-shadow: 0.5rem 0.5rem 2rem #e9e9e9;
}
.header.light .menu_list li a {
	color: black;
}
